@charset "UTF-8";
/* Reset some default styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

.customer-panel {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px;
    margin: 50px auto;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333333;
}

form {
    margin-bottom: 20px;
}

.btn1,
.btn2,
.btn3,
.btn4 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="time"],
select,
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#billSection {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
}

#billDetails {
    color: #333333;
}

a {
    text-decoration: none;
    color: #ff0000;
}

a:hover {
    color: #4CAF50;
}
